@{
    ViewBag.Title = "About Us";
}

@section PageTitle{
    <h2><i class="fa fa-question-circle"></i>&nbsp;Why Us</h2>
}
<p>Why chose Talent Connect over other staffing firms? Here's how we can help you manage your staffing needs</p>
<ul class="list-1">
    <li>
        <strong>We start by assessing your needs.</strong> We conduct a comprehensive overview of your requirements to ensure that we understand the nature of the role and qualifications necessary to ensure success in this role.
    </li>
    <li>
        <strong>We meet all candidates.</strong> We meet all our candidates and ensure that we understand their qualifications and their needs as well. Only then, we present candidates to potential clients.
    </li>
    <li>
        <strong>We take care of your staffing process.</strong> We understand that you are busy running your business. Hiring employees is not your business, so we make it ours. We ensure that the process runs as smooth as possible so that it not hinders you from doing what you do best.
    </li>
</ul>
<br />

@section onready{
    $("#about-nav").attr("id", "current");
}