@{
    ViewBag.Title = "Privacy";
}

@section PageTitle{
    <h2>Privacy</h2>
}

<p><strong>Privacy Statement</strong></p>

<p>
    Your privacy is important to us.
</p>
<p>
    That’s why we want to assure you that any information you provide to Talent Connect will remain completely confidential
    until you request otherwise. Whether we are communicating with you online or in person, we never release personal information,
    such as your name, address, or contact information, to any client or vendor without your prior consent. We also do not
    sell any candidate information to third parties of any kind. So, you can register your profile with the confidence that
    your personal information will always be protected.
</p>

<p><strong>Consent</strong></p>
<p>
    Talent Connect has created this privacy statement in order to confirm your acknowledgement and consent to the
    following purposes for which Talent Connect may use and disclose the information that you disclose to Talent Connect
    through our web site.
</p>

<p>
    The following discloses our information gathering and dissemination practices for this web site: www.talentconnect.co.
</p>

<p><strong>Registration Forms</strong></p>

<p>
    Our site's registration form requires users to give us contact information, unique identifiers, and demographic
    information.
</p>

<p>
    We use contact information from the registration form to send the user information about our Organization and promotional
    material from some of our partners. Contact information from the registration forms is used to get in touch with the users
    when necessary.
</p>

<p>
    Demographic and profile data is also collected at our site. We use this data to tailor our visitor's experience at
    our site and to display content that we think they might be interested in. We also use this data to learn more about the
    demographics of site visitors and refine our strategies.
</p>

<p>
    Users may opt-out of receiving future mailings; see the choice/opt-out section below.
</p>

<p>
    Contact information is also used to contact the users when necessary.
</p>

<p><strong>Password Protection</strong></p>

<p>
    Portions of our web site are password protected to help safeguard member information. A password chosen by the user
    provides access to the site.
</p>

<p>
    As members of the Talent Connect online community, users have access to their own information, information about
    positions for which they are matched, plus additional information and tools.
</p>

<p>
    Select Talent Connect personnel have password-protected access to candidate/client information. Authorized client/employer
    contacts are able to view candidate information without seeing the identity of the candidate. No client/employer contact
    may view any candidate’s private information (e.g., name and phone numbers, mailing address, email address, etc.) without
    prior permission from the candidate.
</p>

<p>
    Talent Connect reserves the right to change passwords at any time to protect the security of our site. We require that you
    keep confidential the password you select for accessing our site. We require that you email us immediately at
    <a href="mailto:<a href="mailto:team@talentconnect.co" >team@talentconnect.co</a>if you feel that your password has been compromised. 
    If you forget your password, please use the <i>forgot password</i> feature on the site to create a new password.
</p>

<p><strong>Surveys</strong></p>

<p>
    Our online surveys ask visitors for contact information and demographic information. We use contact data from our surveys
    to send the user information about our company. Contact information is also used to contact the visitor when necessary.
    Users may opt-out of receiving future mailings; see the choice/opt-out section below.
</p>


<p><strong>Contests</strong></p>
<p>
    From time to time, we run contests on our site in which we ask visitors for contact information (e.g., name, mailing
    address and email address).
</p>

<p>
    Contact information from the contest is used to ship prizes, promotional materials and information about our company.
</p>

<p>
    Contact information is also used to get in touch with the visitor when necessary.
</p>

<p>
    Users may opt-out of receiving future mailings; see the choice/opt-out section below. Each contest on our web site has
    its own set of Terms and Conditions.
</p>

<p>
    Users must acknowledge that they have read, understood and agreed to these Terms and Conditions in order to qualify for
    contests on our web site.
</p>

<p><strong>Choice/Opt-Out</strong></p>

<p>
    Our site provides users the opportunity to opt-out of receiving communications from us, and our partners at the point
    where we request information about the visitor.
</p>

<p>
    This site gives users the following options for removing their information from our database, to not receive future
    communications or to no longer receive our service.
</p>

<p>
    You can send email to Customer Support via <a href="mailto:team@talentconnect.co" >team@talentconnect.co</a>.
</p>


