@{
    ViewBag.Title = "Terms & Conditions";
}

@section PageTitle{
    <h2>Terms of Service</h2>
}
<p>
    This site is owned and operated by Talent Connect Inc. ("talentconnect") with offices located at:
</p>
<p>
    7215 Goreway Drive <br />
    Suite 1A21 (Westwood Mall) <br />
    Mississauga, Ontario <br />
    L4T 0B4
</p>
<p>
    If you have any questions concerning this site or its policies, please contact our Customer Support.
</p>

<p>
    <strong>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</strong>
</p>

<p>
    If you do not accept the Terms and Conditions stated here, do not use this web site and service.
    By using this web site, you are indicating your acceptance to be bound by the terms of these Terms and Conditions,
    and that, to the best of your knowledge, the information you provide to our Organization, its representatives or agents,
    is complete and accurate. A false statement may disqualify you from placement or result in subsequent termination for
    just and sufficient cause if you are placed by the Organization. Talent Connect may revise these Terms and Conditions at
    any time by updating this posting. You should visit this page periodically to review the Terms and Conditions,
    because they are binding on you. The terms "You" and "User" as used herein refer to all individuals and/or entities accessing
    this web site for any reason.
</p>

<p>
    <strong>Intellectual Property Notice</strong>
</p>
<p>
    Copyright © @DateTime.Now.Year Talent Connect. All rights reserved.
</p>
<p>
    Talent Connect either owns the intellectual property rights in the underlying HTML, text and other content that is made
    available to you on our web site, or has obtained the permission of the owner of the intellectual property in such
    content to use the content on our web site.
</p>
<p>
    <strong>Limited License</strong>
</p>
<p>
    Talent Connect grants to you a limited license to display on your computer, print, download and use the underlying HTML,
    text and other content that is made available to you on our web site, for non-commercial, personal, or educational
    purposes only, provided that: <br />
    <ol>
        <li>
            you do not modify any such content; and
        </li>
        <li>
            you include with and display on each copy of such content the associated copyright notice and this limited license.
        </li>
    </ol>
</p>
<p>
    No other use is permitted. Without limiting the generality of the foregoing, you may not:

    <ol>
        <li>
            make any commercial use of such content;
        </li>
        <li>
            include such content in or with any product that you create or distribute; or
        </li>
        <li>
            copy such content onto your or any other web site .
        </li>
    </ol>
</p>
<p>
    Notwithstanding the above, nothing contained in this license shall be construed as conferring any right under any
    copyright of Talent Connect or any other person who owns the copyright in content provided on our web site.
</p>

<p>
    <strong>
        No Warranties
    </strong>
</p>
<p>
    The information on the Talent Connect web site is provided without any warranty or condition of any kind. This means that,
    while every reasonable effort is made to ensure the accuracy and quality of the information presented, Talent Connect
    cannot warrant the quality, accuracy or completeness of any information on our web site. Furthermore, while we endeavor to
    provide complete accuracy and quality of information, due to the dynamic nature of web site content, the reader is cautioned
    that this web site may include some inaccuracies or typographical errors.
</p>

<p>
    THE SERVICE AND ANY INFORMATION OR MATERIALS ARE PROVIDED BY TALENT CONNECT ON AN "AS IS" BASIS, AND TALENT CONNECT EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, WARRANTIES OR CONDITIONS OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO ANY OF THE FOREGOING. TALENT CONNECT RESERVES THE RIGHT TO SUSPEND OR VARY THE SERVICES PROVIDED TO YOU ON THE WEB SITE AT ANY TIME AT TALENT CONNECT’S SOLE DISCRETION AND EITHER WITH OR WITHOUT PRIOR NOTICE TO YOU. IN NO EVENT SHALL TALENT CONNECT OR ANY OF ITS AFFILIATES BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE SERVICE AND ANY INFORMATION OR MATERIALS MADE AVAILABLE ON THIS WEB SITE.
</p>
