@helper logo()
{
    <!-- Logo -->
    <div id="logo">
        <h1><a href="/home"><img src="/images/logo.png" alt="Talent Connect" width="196" height="41" /></a></h1>
    </div>
}
@helper favicons()
{
    <link rel="icon" href="favicon.ico" type="image/x-icon">
}
@helper corecss()
{
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/green.css" id="colors">
}

@helper jquery()
{
    <script src="~/scripts/jquery-2.1.3.min.js"></script>
}

@helper tinymce()
{
    <script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=pla8r535h1fidtp3aacr4fdi1srguc1klavbimonmvezhmgo"></script>
}

@helper custom()
{
    <script src="~/scripts/custom.js"></script>
}

@helper chosen()
{
    <script src="~/scripts/chosen.jquery.min.js"></script>
}

@helper datepicker()
{
    <script src="~/scripts/pickaday.js"></script>
}

